server:
  port: 8080

spring:
  application:
    name: backend

  datasource:
    url: jdbc:mariadb://localhost:3306/myapp
    username: myapp_user
    password: myapp1234
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update   # 개발 중 임시용. 나중엔 validate로 변경
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
